<h1>Now your result</h1>
<p>Your word: <%= @answer %> </p>
<!-- <p>Time Taken to answer: <%=  %> </p> -->
<!-- <p>Translation: <%=  %></p> -->
<!-- <p>Your score: <%=  %></p> -->
<!-- <p>Message: <%=  %></p> -->
